/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.label-captura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  color: rgb(216, 216, 216);
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.janela {
  background-color: #000;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 95%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 95%;
}

.dash-right .avisos .div-form label {
  width: 95%;
}

.dash-right .avisos .div-form input {
  width: 95%;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  width: 95%;
  border: 3px solid #4f46c7;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #4f46c7;
  width: 120px;
}

/* .publicacao-btn-editar {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #e6005a;
  width: 80px;
} */

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #e6005a;
  padding: 20px;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: #000;
}

.dash {
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  background-color: #000000;
  height: 100vh;
  overflow: auto;
}

.area-parametros-alerta {
  /* border: 2px solid pink; */
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  background-color: #212124;
}

.area-parametros-alerta .titulo-legenda {
  color: white;
  font-weight: 600;
  width: fit-content;
  margin: 10px 20px;
}

.parametros-alerta {
  display: flex;
  width: 100%;
}

.item-regua {
  width: 20%;
  text-align: center;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.item-regua p {
  margin: 0;
  font-weight: 500;
}

.item-regua p:nth-child(2) {
  font-weight: 800;
}



.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
}




.cards h1 {
  font-size: 22px;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50%;
  display: inline-block;
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  padding: 0 30% 0 30%;
}

.graph {
  width: 70%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

.btn-chart {
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #e6005a;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer
}

.btn-pink {
  color: white;
  background-color: #e6005a;
}

.btn-white {
  color: #e6005a;
  background-color: white;

}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

/* PAGINA DOS GRÁFICOS */

.janela {
  display: flex;
  /* width: 100vw; */
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* border-right: 3px solid #4f46c7; */
  background-color: #212124;
}

.dash-right {
  display: flex;
  width: 70%;
  height: fit-content;
  background-color: #000;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}



.header-left h1 {
  color: #4f46c7;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 23px;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: transparent;
  border: 3px solid #f6f3f4;
  border-radius: 8px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white:hover {
  filter: brightness(1.2);
    box-shadow: 0 0 10px #8F00FF;
    transition: ease 0.5s;
}

.btn-nav-white h3 {
  color: #fefdfd;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #4f46c7;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

.btn-logout:hover {
 filter: brightness(1.2);
    box-shadow: 0 0 10px #8F00FF;
    transition: ease 0.5s;
}

#div_erros_login {
  display: none
}

/* página de resenha  */

.div_estrelas {
  display: flex;
  flex-direction: row;
}

.estrela {
    background-image: url(../img/estrela-vazia.png);
     background-size: cover;
    width: 50px;
    height: 50px;
    list-style: none;
}

.preenchida {
  background-image: url(../img/estrela-cheia.png);
  background-size: cover;
    width: 50px;
    height: 50px;
}

#select_filme {
  padding: 10px 30px 10px 30px;
  text-align: center;
  border-radius: 20px;
}

/* dashboard css  */

.bloco-titulo {
  width: 100%;
  height: 150px;
  display:flex;
  flex-direction: row;
  margin-top: 40px;
  margin-left: 50px;
}

.selecao-filmes {
  margin-top: 50px;
  margin-left: 900px;
}

#selecionefilme {
  border-radius: 20px;
  border: none;
  background-color: transparent;
  color: white;
  padding-right: 0px;
  font-size: 20px;
}

#selecionefilme option {
  color: black;
}

.titulo-dash h2{
  color: white;
  font-size: 40px;
}

/* fim do bloco superior da dash  */

/* inicio do bloco de kpis */

.kpis {
  width: 100%;
  height: 200px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.kpi-dashInicio-amarelo {
  width: 390px;
  height: 230px;
  background-color: #fec053;
  margin-left: 50px;
  border-radius: 30px;
}

.kpi-dashInicio-roxo {
  width: 390px;
  height: 230px;
  background-color: #4f46c7;
  margin-left: 50px;
  border-radius: 30px;
}

.kpi-dashInicio-ciano {
  width: 390px;
  height: 230px;
  background-color: #92defe;
  margin-left: 50px;
  border-radius: 30px;
}

.bloco-cima {
  display: flex;
  flex-direction: row;
}

.bloco-kpi {
  width: 50px;
  height: 50px;
  background-color: white;
  margin-top: 18px;
  margin-left: 18px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-kpi1 {
  width: 35px;
  height: 45px;
}

.img-kpi1 img {
width: 100%;
  height: 100%;
}

.img-kpi {
  width: 40px;
  height: 40px;
}

.img-kpi img {
width: 100%;
  height: 100%;
}

.texto-kpi {
  margin-left: 20px;
  /* margin-top: 10px; */
}

.texto-kpi h3 {
  font-size: 25px;
  color: white;
}

.bloco-dinamicoNumero {
  font-size: 60px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloco-dinamicoTexto {
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Fim das kpis  */

/* inicio graficos  */

.graficos-grupo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  flex-direction: column;
}

.graficos {
  width: fit-content;
  max-width: 100%;
  height: 400px;
  border: #4f46c7;
  border-style: solid;
  display: flex;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}



.titulo-grafico {
  width: 100%;
  display: flex;
  justify-content: center;
}
.titulo-grafico h3{
  font-size: 25px;
  color: white;
}

#graficoIgual {
  color: #fff;
}