@import url('https://fonts.cdnfonts.com/css/open-sans');

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

/* INICIO DA NAVBAR */
.div_navBar {
    background-color: black;
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    width: 100%;
}

.navBar{
    display: flex;
    list-style: none;
    gap: 40px;
    justify-content: space-between;

}

.div_navBar img {
    width: 100px;
    height: 100px;
}

.div_navBar a{
    color: #fff;
    outline: none;
    text-decoration: none;
    font-size: 20px;
}


.div_navBar .barra {
 color: #fff;
 display: block;
}

/* FIM DA NAVBAR */

/* INICIO DA PARTE INICIAL DO INDEX */

.inicial-video {
    width: 100%;
    height: 900px;
}

.inicial-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* FIM DA INICIAL */

/* INICIO DA PARTE DE SOBRE O SITE */

.sobre {
    display: flex;
    flex-direction: column;
    background-color: #000;
    width: 100%;
    height: 900px;
    align-items: center;
}

.sobre h2 {
    color: #fff;
    font-size: 40px;
     margin-top: 90px;
}

.box-pai-sobre {
    display: flex;
    gap: 90px;
    margin-top: 90px;
}

.box-sobre {
    background-color: #1D1E1F;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    cursor: pointer;
}

.box-sobre p {
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
}

.box-sobre-img {
    width: 100%;
    height: 280px;
    /* padding: 20px 0px 0 20px; */
}

.box-sobre-img img {
    width: 100%;
    height: 100%;
}



.decoracao-sobre {
    background-color: #8F00FF;
    width: 400px;
    height: 2px;
    
}

.box-sobre:hover .decoracao-sobre {
    filter: brightness(1.2);
    box-shadow: 0 0 10px #8F00FF;
    transition: ease 0.5s;
}

.titulo-box-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-box-sobre h3 {
    color: #fff;
    font-size: 30px;
    padding: 20px -10px 0 20px;
}


.texto-corpo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* FIM DE SOBRE O SITE */

/* INICIO DE CONHEÇA A HISTÓRIA */

.historia {
    display: flex;
    background-color: #000;
    width: 100%;
    height: 980px;
    align-items: center;
}
.textos-historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 600px;
    height: 100%;
    margin-top: 100px;
}
.textos-historia h2 {
    color: #fff;
    font-size: 40px;
    margin-top: 90px;
    text-align: center;
}

.textos-historia p {
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
}

.img-historia {
    width: 1000px;
    height:700px;
    margin-left: 90px;
    margin-right: 150px;

}

.img-historia img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right left;
}

.button-historia {
    margin-left: 300px;
}

.button-historia button {
    border: none;
    border-radius: 20px;
    background-color: #1D1E1F;
    color: #fff;
    padding: 20px 60px 20px 60px;
    cursor: pointer;
    font-size: 20px;
}

.button-historia button:hover {
    filter: brightness(1.0);
    box-shadow: 0 0 10px #8F00FF;
    transition: ease 0.5s;
}

/* fim de inicio da história */

/* inicio de footer */

.footer {
    width: 100%;
    height: 250px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer h4 {
    color: #fff;
    margin-bottom:-10px;
    font-size: 20px;
}

.footer h5 {
    color: #808080;
}

.footer p {
    color: #fff;
}

.footer-links {
    display: flex;
    flex-direction: row;
}

.footer1 a {
    text-decoration: none;
    list-style: none;
    color: #fff;
    
}

.footer1 a:hover {
    transition: ease 0.3s;
    filter: brightness(0.5);
    text-shadow: 0 0 10px #8F00FF;
}

.footer1 {
    margin-top: -5px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.decoracao-footer {
    width: 1200px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 10px;
}

/* FIM DE FOOTER  */

/* inicio de login  */
.login {
    height: 850px;
    width: 100%;
    display: flex;
   align-items: center;
   justify-content: center;
   background-image: url('../img/fundo-login.png');
   background-size:100%;
   position: relative;
}


.container-login {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background-color: #000;
   width: 600px;
   height: 400px;
    border-radius: 30px;
}

.container-login span {
   color: #fff;
   font-size: 20px;
}

.card-login h2 {
    color: #fff;
    margin-top: 20px;
    font-size: 40px;
}

.formulario {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.campo {
    margin-top: 15px;
}

.campo input {
    padding: 15px 90px 15px 90px;
    border: none;
    border-radius: 30px;

}

.botao {
    margin-top: 30px;
    padding: 15px 90px 15px 90px;
    background-color: #1D1E1F;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 20px;
}

.botao:hover {
    filter: brightness(1.2);
    box-shadow: 0 0 10px #8F00FF;
    transition: ease 0.5s;
}



/* fim de login  */

/* inicio de cadastro  */

.container-cadastro {
    display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background-color: #000;
   width: 800px;
   height: 500px;
    border-radius: 30px;
}

.container-cadastro span {
   color: #fff;
   font-size: 20px;
}

.card-cadastro h2 {
        color: #fff;
    margin-top: 20px;
    font-size: 40px;
}

.cadastro-login span {
    font-size: 15px;
}

.cadastro-login a {
    color: #8F00FF;
}

.cadastro-login {
    margin-top: 10px;
}

.div_card-esquerda {
    width: 100%;
    height: 1000px;
    background-color: #000;
    display: flex;
    align-items: center;
}



.div-img_filmes {
    width: 600px;
    height: 900px;
    margin-left: 60px;
}

.div-img_filmes img {
    width: 100%;
    height: 100%;
}
.texto-filmes {
    width: 1200px;
    height: 600px;
    margin-left: 90px;
    margin-top: 20px;
    margin-right: 90px;
}

.texto-filmes p{
    color: #8b8d8e;
    font-size: 20px;
}

.texto-filmes h2 {
    color: #fff;
    font-size: 40px;
    margin-top: 10px;
}

.texto-filmes span {
    color: #ffffff;
    font-size: 18px;
    font-weight: 900%;
    
} 

.filmes {
    width: 100%;
    height: 900px;
    background-image: url('../img/filmes-favs.png');
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloco-superior {
    width: 800px;
    height: 500px;
    background-color: #000;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bloco-texto {
    color: #fff;
    font-size: 21px;
    width: 80%;
}

.button-filmes {
    margin-top: 50px;
}

.button-filmes button {
    border: none;
    border-radius: 20px;
    background-color: #1D1E1F;
    color: #fff;
    padding: 20px 60px 20px 60px;
    cursor: pointer;
    font-size: 20px;
}

.button-filmes button:hover {
    filter: brightness(1.0);
    box-shadow: 0 0 10px #8F00FF;
    transition: ease 0.5s;
}