*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

.div_navBar {
    background-color: black;
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    width: 100%;
}

.navBar{
    display: flex;
    list-style: none;
    gap: 40px;
    justify-content: space-between;

}

.div_navBar img {
    width: 100px;
    height: 100px;
}

.div_navBar a{
    color: #fff;
    outline: none;
    text-decoration: none;
    font-size: 20px;
}

/* .div_navBar li {
   margin-right: 60px; 

} */

.div_navBar .barra {
 color: #fff;
 display: block;
}

.inicial-video {
    width: 100%;
    height: 900px;
}

.inicial-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sobre {
    display: flex;
    flex-direction: column;
    background-color: #000;
    width: 100%;
    height: 900px;
    align-items: center;
}

.sobre h2 {
    color: #fff;
    font-size: 40px;
     margin-top: 90px;
}

.box-pai-sobre {
    display: flex;
    gap: 90px;
    margin-top: 90px;
}

.box-sobre {
    background-color: #1D1E1F;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    /* padding: 32px 12px 12px; */
    transition: tansform 0.3s ease;
}

.box-sobre:hover {
    transform: scale(1.1);
}



.box-sobre p {
    color: #fff;
    font-size: 25px;
    margin-top: 10px;
}

.box-sobre-img {
    width: 100%;
    height: 280px;
    /* padding: 20px 0px 0 20px; */
    
}

.box-sobre-img img {
    width: 100%;
    height: 100%;
}

.box-sobre-img::before {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 50px;
    height: 5px;
    margin-top: 293px;
    margin-left: 35px;
}


.box-sobre-img::before:hover {
    filter: brightness(2.0);
    color: #8F00FF;
    text-shadow: 0 0 10px white;
}

.titulo-box-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-box-sobre h3 {
    color: #fff;
    font-size: 30px;
    padding: 20px -10px 0 20px;
}


.texto-corpo {
    display: flex;
    align-items: center;
    justify-content: center;
}